body,
* {
  margin: 0;
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.main-ingredients  {
  display: flex;
  flex-wrap: wrap;
}
.main-ingredients > li {
  width: 25%;
  list-style-type: none;
}

.main-ingredients > li > button {
  width: 100%;
}
.chosen {
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
